* {
  box-sizing: border-box;
}

.agreement {
  width: fit-content;
  height: 400px;
  margin: 12px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px 30px;
  margin-bottom: 10px;
  word-break: keep-all;
}

.agreement-is-not-real {
  font-style: italic;
}
.join-box {
  margin: 30px 10px;
}
.join-box__input {
  width: 95%;
  margin: 15px 20px;
}

.required-guide {
  text-indent: 30px;
  background-color: rgba(255, 228, 196, 0.671);
  font-size: 14px;
  padding: 5px;
  margin-bottom: 15px;
}

label {
  text-indent: 10px;
}

label::before {
  content: "• ";
}

.agree-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.agree-row label {
  margin-bottom: 0;
}

.agree-row input {
  width: auto;
}

#agreeCheckNoContent::before {
  content: "";
}

.join-button-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}
