* {
   box-sizing: border-box;
}

body {
    font-family: "맑은 고딕";
    color: #555;
}

main {
    width: 1200px;     /* qna와 동일 */
    margin: 30px auto; /* qna와 동일 */
}

.write-box {
    width: 100%;
    background: #fff;
}

.write-box h2 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #333;
    color: #333;
}

.write-table th {
    width: 180px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    color: #444;
}

.write-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
     border-top: 1px solid #ddd;
}

.write-table td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.write-table th {
    width: 150px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 18px;
    text-align: center;
}

.write-table input,
.write-table textarea {
    display: block;
    width: 100%;
}

.write-table input {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.write-table textarea {
    width: 100%;
    height: 400px;
    padding: 15px;
    border: 1px solid #ccc;
    resize: vertical;
    font-size: 15px;
}

.btn-area {
    margin-top: 25px;
    text-align: right;
}

.btn-area button {
    width: 110px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-area button:hover {
    background: #555;
}

